textarea{
    resize: none;
}

body{
    display: flex;
    justify-content: center;
	background-color: pink;
}
.card{
	background-color: yellow;
}

#welcome{
    background-color: yellow;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#signin{
    background-color: lightgreen;
    flex: 1 1 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#signin > input {
    margin-top: 5vh;
    width: 50%;
}

button{
    background-color: green;
    color: rgb(210,219,226);
    border: none;
    margin-top: 5vh;
    width: 18vw;
    font-size: 11pt;
}
