.card-box {
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card__face {
  position: absolute;
  backface-visibility: hidden;
}

#outputEng {
  transform: rotateY( 180deg );
  display: hidden;
}

.card.is-flipped {
  transform: rotateY(180deg);
}


